body {
    font-family: Arial, sans-serif;
    background: url('/static/images/image1.png') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 25rem;
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container p{
    color: white;
        font-weight: 700;
        font-size: large;
}
.form-group {
    margin-bottom: 10px;
    color: white;
    font-weight:700;
    font-size:large;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-weight:900;
    font-size:x-large;
}

input[type="text"],
input[type="password"] {
    width: 100% ;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
    display: block;
    margin-top: 10px;
    color: #0fc8d5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}