<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <div class="login-container">
        <form action="{% url 'login' %}" method="post" style="overflow: hidden; width: 100%;">
            {% csrf_token %}

            <h2 class="login-label">Registration</h2>
            <div class="form-group">
                <label for="cname"> Name:</label>
                <input type="text" id="cname" name="name" required >
            </div>

            <div class="form-group">
                <label for="u-email">Email-id:</label>
                <input type="email" id="u-email" name="email" required >
            </div>

            <div class="form-group">
                <label for="ph-no">Phone Number:</label>
                <input type="tel" pattern="[0-9]{10}" id="ph-no" name="ph" required>
            </div>

            <div class="form-group">
                <label for="ad">Address:</label>
                <textarea name="add" id="ad" cols="30" rows="5" minlength="25" required></textarea>
            </div>

            <div class="form-group" >
                <label for="psw">Password:</label>
                <input type="password" id="psw" name="psw" required>
            </div>

             <button type="submit" class="submit-btn">Submit</button>
            <br>
            <br>
        
        </form>
    </div>
</body>

</html>
